{% extends "base.html" %}
{% load i18n %}

{% block title %} - Your links{% endblock title %}

{% block sidebar %}
<ul class="nav nav-list">
  <li class="nav-header">{% trans 'Collections' %}</li>
  {% for col in collections %}
  <li><a href="{% url webfront:collection col.name %}">{{ col.name }}</a></li>
  {% endfor %}
</ul>

{% endblock sidebar %}

{% block middle-container %}

      <div class="row-fluid">
{% for link in links %}
        <div class="span4">
            <h3>{{ link.title }}
          {% if link.read %}
          <i class="icon-search"></i>
          {% else %}
          <i class="icon-envelope"></i>
          {% endif %}
            
            </h3>
          <span class="label label-success">{{ link.author }}</span>
          <p> on {{ link.inserted_at }} </p>
          <p> {% for tag in link.get_tags %}
            <a href="{% url webfront:collection_tag tag %}"><span class="label label-info">{{ tag }}</span></a>
           {% endfor %} </p>
          {% if not link.summary == "None" %}
          <p>{{ link.summary|safe }}</p>
          {% endif %}
          <p><a class="btn" href="{% url link_tracking:track_link link.pk %}" target="_blank">{% trans 'open link' %} &raquo;</a></p>
        </div><!--/span-->
    {% if forloop.counter|divisibleby:"3" %}
    </div><!--/row-->
    <div class="row-fluid">
    {% endif %}
{% endfor %}

{% endblock middle-container %}
