{% extends "base.html" %}
{% load i18n %}

{% block title %} - Home{% endblock title %}

{% block container-fluid %}
<ul>
  {% if 'google-oauth2' in backends.backends %}
  <li>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Enter using Google</a>
  </li>
  {% endif %}
  {% if 'reddit' in backends.backends %}
  <li>
    <a href="{% url 'social:begin' 'reddit' %}">Enter using Reddit</a>
  </li>
  {% endif %}
  {% if 'twitter' in backends.backends %}
  <li>
    <a href="{% url 'social:begin' 'twitter' %}">Enter using Twitter</a>
  </li>
  {% endif %}
</ul>

<form action="" method="post" class="form-horizontal">{% csrf_token %}
    {{ form }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>


{% endblock container-fluid %}


