{% extends "base.html" %}
{% load i18n %}

{% block title %} - Your links{% endblock title %}

{% block sidebar %}
<ul class="nav nav-list">
  <li class="nav-header">{% trans 'Collections' %}</li>
  {% for col in collections %}
  <li><a href="{% url webfront:collection col.name %}">{{ col.name }}</a></li>
  {% endfor %}
</ul>
<ul class="nav nav-list">
  <li class="nav-header">{% trans 'Sources' %}</li>
  {% for source in sources %}
  <li><a href="{% url webfront:collection_source source.slug %}">{{ source.name }}</a></li>
  {% endfor %}
</ul>

{% endblock sidebar %}

{% block middle-container %}

      <div class="row-fluid">
{% for link in links %}
        <div class="span4">
            <h3>{{ link.title }}
          {% if link.read %}
          <i class="icon-search"></i>
          {% else %}
          <i class="icon-envelope"></i>
          {% endif %}
            
            </h3>
            {% if not link.author_id %}
            {% for author in link.authors.all %}
                <a href="{% url webfront:collection_user author.name, author.source_id %}">
                    <span class="label label-success">{{ author.name }}</span>
                </a>
            {% endfor %}
            {% else %}
                <a href="{% url webfront:collection_user link.author.name, link.author.source_id %}">
                    <span class="label label-success">{{ link.author.name }}</span>
                </a>
            {% endif %}
          <p> on {{ link.inserted_at }}</p>
          <p> {% for tag in link.get_tags %}
            <a href="{% url webfront:collection_tag tag %}"><span class="label label-info">{{ tag }}</span></a>
           {% endfor %} </p>
          {% if not link.summary == "None" %}
          <p>{{ link.summary|safe }}</p>
          {% endif %}
          
          <p><a class="btn" href="{% url link_tracking:track_link link.pk %}" target="_blank">{% trans 'open link' %} &raquo;</a></p>
        </div><!--/span-->
    {% if forloop.counter|divisibleby:"3" %}
    </div><!--/row-->
    <div class="row-fluid">
    {% endif %}
{% endfor %}

<br />
<br />


{% endblock middle-container %}



{% block pagination %}

<div class="pagination">
  <ul>
    {% if paginator.has_previous %}
    <li class="previous"><a href="?page={{ paginator.previous_page_number }}">{% trans "Previous" %}</a>
    {% else %}
    <li class="previous disabled"><a href="?page={{ paginator.previous_page_number }}">{% trans "Previous" %}</a>

    {% endif %}
    {% for page_num in page_range %}
    {% if page_num == "..." %}
    <li class="disabled"><a href="?page={{ page_num}}">{{ page_num }}</a>
    {% else %}
    <li><a href="?page={{ page_num}}">{{ page_num }}</a>
    {% endif %}
    {% endfor %}
    {% if paginator.has_next %}
    <li class="next"><a href="?page={{ paginator.next_page_number }}">{% trans "Next" %}</a>
    {% else %}
    <li class="next disabled"><a href="?page={{ paginator.next_page_number }}">{% trans "Next" %}</a>
    {% endif %}
   
  </ul>
</div>


{% comment %}
{{ page_range|pprint }}
<div class="pager">
  <ul class="pager">
    {% if paginator.has_previous %}
    <li class="previous"><a href="?page={{ paginator.previous_page_number }}">{% trans "Previous" %}</a>
    {% endif %}
    <li class=".disabled"><a href="?page={{ paginator.number }}"> {{ paginator.number }} </a></li>

    {% if paginator.has_next %}
    <li class="next"><a href="?page={{ paginator.next_page_number }}">{% trans "Next" %}</a>
    {% endif %}
  </ul>
</div>
{% endcomment %}
{% endblock pagination %}
