{% extends "base.html" %}
{% load i18n %}

{% block title %} - Home{% endblock title %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header"><a href="{% url userprofile:home %}">User profile</a></li>
    <li class="active"><a href="#">Link</a></li>
    <li><a href="{% url userprofile:rss %}">Rss feeds</a></li>
    <li><a href="{% url userprofile:filters %}">Filters</a></li>
</ul>
{% endblock sidebar %}


{% block container-fluid %}

<div class="hero-unit">
    <h1>Filters</h1>
    <form method="POST">
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit">
    </form>
</div>

{% endblock container-fluid %}


