{% extends "base.html" %}
{% load i18n %}

{% block title %} - Home{% endblock title %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header"><a href="{% url 'userprofile:home' %}">User profile</a></li>
    <li class="active"><a href="#">Link</a></li>
    <li><a href="{% url 'userprofile:rss' %}">Rss feeds</a></li>
    <li><a href="{% url 'userprofile:filters' %}">Filters</a></li>
</ul>

{% endblock sidebar %}


{% block middle-container %}

<div class="row-fluid">
    <div class="span12">
        <h1>Hello {{ user.username }}</h1>
    </div>
</div>

{% endblock middle-container %}


