{% extends "base.html" %}
{% load i18n %}

{% block title %} - Home{% endblock title %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header"><a href="{% url 'userprofile:home' %}">User profile</a></li>
    <li class="active"><a href="{% url 'userprofile:rss' %}">Rss feeds</a></li>
    <li><a href="{% url 'userprofile:filters' %}">Filters</a></li>
</ul>
{% endblock sidebar %}


{% block middle-container %}

<div class="hero-unit">
    <h2>Rss</h2>

    <br>
    <a href="{% url userprofile:add_rss %}"<button type="button" class="btn btn-primary">Add a new rss feed</button></a>
    <br><br>
    <form method="POST">{% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <br>
    <input type="submit">
</div>

{% endblock middle-container %}
