{% load i18n staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "img/favicon.png" %}">

    <title>Linkuist{% block title%}{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 50px;
      }
        .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{% trans "Collapse navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Search</span>
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <a class="navbar-brand" href="{% url 'webfront:home' %}">Linkuist</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                    <li class="active"><a href="{% url 'webfront:login' %}">{% trans 'login' %}</a></li>
                    {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'userprofile:home' %}">{% trans 'Profile' %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'webfront:logout' %}">{% trans 'Logout' %}</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>

                <form class="navbar-form navbar-right" action="{% url 'webfront:search' %}" role="search">
                    <div class="input-group">
                        <input name="query" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button type="reset" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove">
                                    <span class="sr-only">Close</span>
                                </span>
                            </button>
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search">
                                    <span class="sr-only">Search</span>
                                </span>
                            </button>
                        </span>
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container-fluid">
    {% block container-fluid %}
    <div class="row-fluid">
      <div class="col-md-2">
          {% block sidebar %}
          {% endblock sidebar %}
      </div><!-- /.col-md-2 -->
      <div class="col-md-10">
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
          {% block middle-container %}
          {% endblock middle-container %}
      </div><!-- /.col-md-9 -->
    </div><!-- /.row-fluid -->
    {% endblock container-fluid %}
    </div><!-- /.container-fluid -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "jquery/dist/jquery.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
  </body>
</html>


{% comment %}
{% load i18n staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Linkuist{% block title%}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes" />  
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="apple-touch-icon" href="{% static "img/favicon.png" %}" />
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
    <!-- Le styles -->
    <link href="{% static "css/bootstrap.css" rel="stylesheet" %}">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{% static "css/bootstrap-responsive.css" rel="stylesheet" %}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "ico/apple-touch-icon-57-precomposed.png" %}">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url 'webfront:home' %}">Linkuist</a>
          <form class="navbar-search pull-left" action="{% url 'webfront:search' %}">
            <input name="query" type="text" class="search-query span2" placeholder="Search">
          </form>
          <div class="btn-group pull-right">
            {% if not user.is_authenticated %}
            <ul class="nav">
                <li class="active"><a href="{% url 'webfront:login' %}">{% trans 'login' %}</a></li>
            </ul>
            {% else %}
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{ user.username }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'userprofile:home' %}">Profile</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'webfront:logout' %}">Sign Out</a></li>
          </ul>
            {% endif %}
          </div>
          <div class="nav-collapse">
            <ul class="nav">
                <li class="active"><a href="#">{% trans 'Home' %}</a></li>
                <li><a href="#about">{% trans 'About' %}</a></li>
                <li><a href="#contact">{% trans 'Contact' %}</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {% block container-fluid %}
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            {% block sidebar %}
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          {% endblock sidebar %}
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
          {% block middle-container %}
          <div class="hero-unit">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          {% endblock middle-container %}
        </div><!--/span-->
        {% endblock container-fluid %}

        {% block pagination %} {% endblock pagination %}
      </div><!--/row-->



    </div><!--/.fluid-container-->
      <hr>
      <footer>
        <p>&copy; Benoit Calvez 2012</p>
      </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "jquery/js/jquery.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap-transition.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap-alert.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap-modal.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap-tab.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap-popover.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap-button.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap-typeahead.js" %}"></script>

  </body>
</html>
{% endcomment %}
