<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="Keywords" content="" />
        <meta name="Description" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="cache-control" content="no-cache" />
        <link rel="stylesheet" type="text/css" href="/stdtheme.css" />

        <script type="text/javascript">
        </script>

    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        
    </body>

</html>
